@using RedSwanStore.Controllers
@model LibraryViewModel

@{
  var layout = ViewData["layout"] as string;
  
  if (layout != null){
    Layout = layout;
  }
}

<div class="container">
  <div class="game-catalog">
    <section class="game-catalog__library section">
      
      <div class="section_dropdown library">
        
        <div class="dropdown">
          <button class="dropdown_button" aria-expanded="false" aria-haspopup="true">
            <h4>Сортировка:</h4><span class="dropdown_button__toggleLabel">Недавние</span>
          </button>

          <div class="dropdown__submenu submenu hidden">
            @foreach (KeyValuePair<string, KeyValuePair<string, LibrarySorts>> item in LibraryViewModel.SortingItems)
            {
              <button class="submenu__button library-sort-btn" data-controller-arg="@item.Key"><span> @item.Value.Key </span></button>
            }
          </div>
        </div>

        <div class="dropdown">
          <button class="dropdown_button" aria-expanded="false" aria-haspopup="true">
            <h4>Фильтр:</h4><span class="dropdown_button__toggleLabel">Все</span>
          </button>

          <div class="dropdown__submenu submenu hidden" id="games-cards">
            @foreach (KeyValuePair<string, KeyValuePair<string, LibraryFilters>> item in LibraryViewModel.FilterOptions)
            {
              <button class="submenu__button library-filter-btn" data-controller-arg="@item.Key"><span> @item.Value.Key </span></button>
            }
          </div>
        </div>
      </div>

      
      
      <div class="section__games games library">
        @await Html.PartialAsync("_LibraryGamesListPartial", Model.GameCards)
      </div>
      
    </section>
  </div>
  
</div>

<script src="~/libs/JQuery/jquery-3.6.0.js"></script>
<script src="~/libs/JQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/index.js"></script> 
<script src="~/js/library.js"></script>