
@{ //stuff
   var sortingItems = new List<string> {"Актуальность", "Дата выхода", "По алфавиту", "Цена: По возрастанию", "Цена: по убыванию"};
   
   var gameCards = new List<GameCard>
   {
     new GameCard {Title = "Название N", Developer = "DVD Project Green", Price = "2 999 ₽"},
     new GameCard {Title = "Название N: Redux", Developer = "DVD Project Green", Price = "3 999 ₽"},
     new GameCard {Title = "Скромное название", Developer = "Ноунейм", Price = "29 ₽"},
     new GameCard {Title = "Крутое название", Developer = "СтУдиЯ", Price = "350 ₽"},
     new GameCard {Title = "World Peace X", Developer = "Tartalia Inc", Price = "650 ₽"},
     new GameCard {Title = "Бла Бла Бла", Developer = "Господин Никто", Price = "666 ₽"}
   };

  var filterOptions = new List<string>
  {
    "Все", "Избранные"
  };

   
}


<div class="container">
  <div class="game-catalog">
    <section class="game-catalog__library section">
      
      <div class="section_dropdown library">
        
        <div class="dropdown">
          <button class="dropdown_button" aria-expanded="false" aria-haspopup="true">
            <h4>Сортировка:</h4><span class="dropdown_button__toggleLabel">Недавние</span>
          </button>

          <div class="dropdown__submenu submenu hidden">
            @foreach (var item in sortingItems)
            {
              <button class="submenu__button"><span> @item </span></button>
            }
          </div>
        </div>

        <div class="dropdown">
          <button class="dropdown_button" aria-expanded="false" aria-haspopup="true">
            <h4>Фильтр:</h4><span class="dropdown_button__toggleLabel">Все</span>
          </button>

          <div class="dropdown__submenu submenu hidden">
            @foreach (var item in filterOptions)
            {
              <button class="submenu__button"><span> @item </span></button>
            }
          </div>
        </div>
      </div>

      
      
      <div class="section__games games library">
        @foreach (var gamecard in gameCards)
        {
          <div class="games__item">
            <a class="game-card" href="#game-page">
              <div class="game-card__image"> </div>
              <div class="game-card__title"> @gamecard.Title </div>
              <div class="game-card__dev"> @gamecard.Developer </div>
              <div class="game-card__price"> @gamecard.Price </div>
            </a>
          </div>
        }
      </div>
      
      
    </section>
  </div>
  
</div>

<script src="~/js/index.js"></script> 