$header_bc: #222222;

header{
  background-color: $header_bc;
  max-height: 120px;
  height: 50px;
  color: #E6E6E6;
  padding: 0;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif, Arial;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  //overflow: hidden;
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;


  .container{

    max-width: none;
    margin: 0 0;

  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0 0;
    justify-content: space-between;
    //text-transform: uppercase;
    .menu {
      margin: 0 0 0 10px;
      padding: 0;
      list-style: none;
      min-width: 300px; //check!
      flex: 1 1 60%;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      li {
        .logo{
          display: inline-block;
          width: 80px;
          height: 60px;
          margin: 20px;
        }
        div.store-icon{
          height: 40px ;
          width: 40px;
          position: relative;
          top: -33px;
          margin: 0 10px 0 10px;
          padding: 0;

          background: url(../favicon.ico) no-repeat 0 0;
          background-size: cover;
          z-index: 20;
        }
        a{
          padding: 0 15px;
          color: inherit;
          text-decoration: none;
        }
        //, :not(.store-icon):active::after
        &:not(.store-icon):hover::after{
          display: inline-block;
          width: 100%;
          height: 5px;
          position: relative;
          top: -3px;
          background-color: #7d0011;
          content: "";
          z-index: 10;
        }
        :hover{
          color: white;
        }


      }

    }

    .rightNav{
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      flex: 0 1 40%;
      height: 100%;
      .sign-in{
        flex: 0 1 20%;
        min-width: 120px;
        text-align: center;
        
      }
      a{
        color: inherit;
      }
      a:hover{
        color: white;
      }
    }
  }
  .dropdown{
    
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    
    &__submenu{
      background-color: $header_bc;
      min-width: 120px;
      width: 100%;
      position: relative;
      z-index: 1000;
      top: 12px;
      left: -20px;
      padding: 15px 20px;
      margin-right: 20px;
      text-align: center;
      display: none;
      
      button:not(:last-of-type){
        margin-bottom: 10px;
      }
      span{
        width: 100%;
        padding-left: 15px;
        text-align: center;
      }
     
    }
    
    &:hover{
      .dropdown__submenu{
        display: block;
      }
    }
  }

  .dropdown__submenu.hidden{
    display: none !important;
  }
 
}
.download {
  min-width: 215px;
  a {
    padding: 20px 10px 10px 10px;
    background-color: rgba(125, 0, 17, 0.75);
  }

  :hover {
    background-color: #7d0011;
  }
  vertical-align: middle;
}
