$header_bc: #222222;

header{
  background-color: $header_bc;
  //background-color: #7d0011;
  max-height: 120px;
  height: 55px;
  color: #E6E6E6;
  padding: 0;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif, Arial;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  


  .container{

    max-width: none;
    margin: 0 0;

  }
  

  nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0 0;
    max-height: 50px;
    justify-content: space-between;
  
    .menu {
      margin: 0 0 0 10px;
      padding: 0;
      list-style: none;
      min-width: 300px; //check!
      flex: 1 1 60%;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      li {
        //overflow: hidden;
        
        .logo{
          display: inline-block;
          width: 80px;
          height: 60px;
          margin: 20px;
          
        }
        div.store-icon{
          //overflow: hidden;
          height: 45px ;
          width: 45px;
          position: relative;
          top: -33px;
          margin: 0 20px 0 10px;
          padding: 0;

          background: url(../favicon.ico) no-repeat 0 0;
          background-size: cover;
          z-index: 20;
        }
        a{
          padding: 0 15px;
          color: inherit;
          text-decoration: none;
        }
      
        &:not(.store-icon):hover::after{
          display: inline-block;
          width: 100%;
          height: 5px;
          position: relative;
          top: 2px;
          background-color: #7d0011;
          content: "";
          z-index: 10;
        }
        :hover{
          color: white;
        }


      }
      
      li.store-icon{
        //overflow: hidden;
        display: inline-block;
      }

    }

    .rightNav{
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      max-width: 500px;
      flex: 1 1 30%;
      height: 100%;
      
      .sign-in{
        flex: 1 1 30%;
        min-width: 120px;
        text-align: center;
        
      }
      a{
        color: inherit;
      }
      a:hover{
        color: white;
      }
    }
  }
  .dropdown{
    
    position: relative;
    width: 100%;
    display: inline-block;
    min-width: 120px;


  
    .header-user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      

      &__photo {
        width: 40px;
        height: 40px;
        border: 1px solid #7d0011;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        object-fit: cover;
        image-rendering: high-quality;
        
      }

      &__login {
        margin-left: 60px;
      }
    }
    
    &__submenu{
      background-color: $header_bc;
      min-width: 120px;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      z-index: 1000;
      top: 16px;
      
      padding: 15px 20px;
      margin-right: 20px;
      text-align: center;
      display: none;
      
      button:first-of-type{
        cursor: default;
        span{
          cursor: inherit;
        }
      }
      
      button:not(:last-of-type){
        margin-bottom: 15px;
      }
      span {
        width: 100%;
        padding-left: 15px;
        text-align: center;
        color: rgba(245, 245, 245, 0.6);

      }
      
      span:hover:not(.balance):not(.user_balance){
        color: white;
      }
      span.balance{
        padding: 0;
      }
     
    }
    
    &:hover{
      .dropdown__submenu{
        display: block;
      }
    }
  }

  .dropdown__submenu.hidden{
    display: none !important;
  }
 
}

.download {
  min-width: 215px;
  a {
    padding: 20px 15px 15px 15px;
    background-color: rgba(125, 0, 17, 0.75);
  }

  :hover {
    background-color: #7d0011;
  }
  vertical-align: middle;
}
