@using RedSwanStore.Utils
@using System.Globalization
@model PurchaseViewModel

<div class="buy-using-wallet">
    <div class="buy-using-wallet__main">
        <h2 class="title">Оплатить с учетной записи Red Swan</h2>
        <div class="buy-using-wallet__price-block">
            <div class="buy-using-wallet__actual-price">
                Номинальная цена: <span>@Model.ActualPrice.ConvertToPrice()</span>
            </div>
            <div class="buy-using-wallet__discount">
                Скидка: <span>- @Model.DiscountAmount.ConvertToPrice()</span>
            </div>
        </div>
        <div class="buy-using-wallet__result-block">
            <div class="buy-using-wallet__result-price">
                Итого: <span>@Model.ResultPrice.ConvertToPrice()</span>
            </div>
            <div class="buy-using-wallet__money-left">
                После покупки у Вас останется: <span>@Model.MoneyLeft.ConvertToPrice()</span>
            </div>
        </div>
    </div>
    <div class="form_element">
        <button class="form_element__button button active" id="commit-transaction" type="submit" readonly>
            <span class="button-label"> Оплатить </span>
        </button>
    </div>
</div>
<script>
    let ajaxOptions = {
        type: 'post',
        url: '/game/purchase-by-wallet',
        success: () => {
            window.location.replace('/thanks-for-purchase');
        }
    }
</script>

