@using RedSwanStore.Utils
@using System.Globalization
@model PurchaseViewModel

<div class="buy-using-wallet">
    <div class="buy-using-wallet__main">
        <h2 class="title">Оплатить с учетной записи Red Swan</h2>
        <div class="buy-using-wallet__price-block">
            <div class="buy-using-wallet__actual-price">
                <span>Номинальная цена: </span>
                <span>@Model.ActualPrice.ConvertToPrice()</span>
            </div>
            <div class="buy-using-wallet__discount">
                <span>Скидка:</span> 
                <span>- @Model.DiscountAmount.ConvertToPrice()</span>
            </div>
        
        
        
            <div class="buy-using-wallet__result-price">
                <span>Итого: </span>
                <span>@Model.ResultPrice.ConvertToPrice()</span>
            </div>
            <div class="buy-using-wallet__money-left">
                <span>Остаток на счёте: </span>
                <span class="balance">@Model.MoneyLeft.ConvertToPrice()</span>
            </div>
        </div>
        
    </div>
    <div class="form_element">
        <button class="form_element__button button active" id="commit-transaction" type="submit" readonly>
            <span class="button-label"> Оплатить </span>
        </button>
    </div>
</div>
<script>
    let ajaxOptions = {
        type: 'post',
        url: '/game/purchase-by-wallet',
        success: () => {
            window.location.replace('/thanks-for-purchase');
        }
    }
</script>

