@{
    // здесь сделаешь шапку и футер, а так же все нужные подключения css и js
    // в этот лейаут будут вставляться куски страниц твоих
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

@RenderBody()

</body>
</html>