<div class="container">
    <h1 class="title"> Cyberpunk 2077 </h1>
    <div class="game">
        <section class="game_section">
            <div class="video_player">
            
                //add a video here please (
            </div>
            
            <div class="short-desc">
                Вам предстоит пройти путь к славе, сыграв за легендарного викинга. 
                Нападайте на врагов, развивайте селение и усиливайте влияние.
                
            </div>
            
            <div class="game-info">
                <div class="game-info__column column">
                    <span class="column_developer">
                        Разработчик
                    </span>
                    
                    <span class="column_developer_name">
                        CD PROJEKT RED
                    </span>
                </div>
                
                <div class="game-info__column column">
                    <span class="column_genre">
                        Жанр
                    </span>
                                    
                    <span class="column_genre_name">
                        Action,
                        RPG,
                        Open World,
                        Adventure
                    </span>
                </div>
                
                <div class="game-info__column column">
                    <span class="column_date">
                        Дата выхода
                    </span>
                                    
                    <span class="column_date_date">
                        10 дек. 2020 г.
                    </span>
                </div>
                
                <div class="game-info__column column">
                    <span class="column_rate">
                        Средняя оценка
                    </span>
                                                    
                    <span class="column_rate">
                        76
                    </span>
                </div>
                

            </div>
            
            <div class="description">
                <h2 class="description__title">Найт-Сити изменит вас навсегда</h2>
               
                <div class="description__text">
                    Cyberpunk 2077 — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, 
                    где власть, роскошь и модификации тела ценятся выше всего. Вы играете за V, наёмника в поисках 
                    уникального устройства, позволяющего обрести бессмертие. Вы сможете менять киберимпланты, навыки и стиль игры 
                    своего персонажа, исследуя огромный открытый мир, где ваши поступки влияют на ход сюжета и всё, что вас окружает.
                </div>
                
                <div class="description__subtitle">Играйте за городского наёмника</div>
                <div class="description__text">Станьте киберпанком — оснащённым имплантами наёмником — и сделайте себе имя на улицах Найт-Сити.</div>
                <div class="description__subtitle">Живите в городе будущего</div>
                <div class="description__text">Исследуйте огромный мир Найт-Сити, который выглядит ярче, сложнее и глубже всего, что вы видели раньше.</div>
                <div class="description__subtitle">Добудьте имплант, дающий вечную жизнь</div>
                <div class="description__text">Возьмитесь за самое опасное задание в своей жизни и найдите прототип импланта, позволяющего обрести бессмертие.</div>
                <div class="description__text">Цифровые бонусы включают в себя:</div>
            
                <ul class="description__list">
                    <li class="description__list-item"><span>оригинальный саундтрек;</span></li>
                    <li class="description__list-item"><span>арт-буклет с иллюстрациями к игре;</span></li>
                    <li class="description__list-item"><span>цифровой комикс Cyberpunk 2077: Your Voice;</span></li>
                    <li class="description__list-item"><span>справочник по вселенной игры Cyberpunk 2020;</span></li>
                    <li class="description__list-item"><span>обои для рабочего стола и мобильного телефона.</span></li>
                </ul>
                
            </div>
            
            <div class="system-req">
                <h2> Системные требования </h2>
                <div class="system-req table">
                    <div class="table_column column">
                        <div class="row">
                            <span class="title">
                                Минимальные
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                ОС
                            </span>
                            
                            <span>
                                Windows 7
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Процессор                        
                            </span>
                                                    
                            <span>
                                Intel Core i5-3570K или AMD FX-8310
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Память                     
                            </span>
                                                    
                            <span>
                                8 ГБ ОЗУ
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Видеокарта
                            </span>
                                                    
                            <span>
                                NVIDIA GeForce GTX 780 или AMD Radeon RX 470
                            </span>
                        </div>
                        
                        <div class="row">
                            <span class="title">
                                Место на диске
                            </span>
                                                                            
                            <span>
                                70 ГБ (рекомендуется SSD)
                            </span>
                        </div>
                    </div>
                    
                    
                    <div class="table_column column">
                        <div class="row">
                            <span class="title">
                                Максимальные
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                ОС
                            </span>
                                                
                            <span>
                                Windows 7
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Процессор                        
                            </span>
                                                                        
                            <span>
                                Intel Core i5-3570K или AMD FX-8310
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Память                     
                            </span>
                                                                        
                            <span>
                                8 ГБ ОЗУ
                            </span>
                        </div>
                                            
                        <div class="row">
                            <span class="title">
                                Видеокарта
                            </span>
                                                                        
                            <span>
                                NVIDIA GeForce GTX 780 или AMD Radeon RX 470
                            </span>
                        </div>
                        
                    </div>
                    
                    <div class="table_column language">
                        <span class="title">
                            Поддерживаемые языки
                        </span>
                        <span>
                            [ОЗВУЧИВАНИЕ]: английский, французский, немецкий, итальянский, испанский, японский, польский, португальский (Бразилия), русский, китайский (упрощённый), корейский
                            [ТОЛЬКО ТЕКСТ]: испанский (Мексика), тайский, чешский, венгерский, китайский (традиционный), арабский, турецкий
                        </span>
                    </div>
                    
                    <div class="table_column legal-info">
                        <span>
                            CD PROJEKT®, Cyberpunk®, Cyberpunk 2077® are registered trademarks of CD PROJEKT S.A. 
                            © CD PROJEKT S.A. All rights reserved. All other copyrights and trademarks are the property of their respective owners.
                        </span>
                    </div>
                    
                </div>
            </div>
            
            
        

        </section>

        <aside class="game_buy">
            <p>
                ffffffffffffffffffffffffffffffffffffffffffffffffffff
                ffffffffffffffffffffffffffffffffffffffffffffffffffff
            </p>

        </aside>
    </div>
    
</div>
